/*Uma citação*/
.citacao{
    text-align: center;
    background-color: #eeb0b059;
    width: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px  black ;
    font-style: italic;
    margin-left: 20px;
}

/*Uma citação de termos de uso*/
.termosUso{
    margin: auto;
    background-color: #aaa9a97c;
    width: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px  black ;
    font-style: italic;
}

@media screen and (min-width: 768px){
    
    /*Paragrafos com uma imagem do lado*/
    .imgParagrafo{
        display: flex;
        align-items: center;
    }

    /*Paragrafos que vão ficar do lado de uma imagem*/
    .paragrafos{
        width: 50%;
    }

    /*Picture com imagem que vai ficar do lado de um paragrafo ocupando 50% da largura*/
    .imgParagrafo >picture{
        width: 50%;
        padding: 10px 20px;
    }

    /*Imagem vai ocupar 100% da largura da picture*/
    .imgParagrafo picture img{
        width: 100%;
        box-shadow: 1px 1px 5px black;
        
    }
}
