@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-personalizada: 'Oleo Script Swash Caps', cursive;
}

*{
    font-family: var(--fonte-padrao);   
}

body{
   background-color: #860707;
   margin: auto;
}

header{
    text-align: center;
    background-image: linear-gradient(rgb(212, 94, 94),rgb(196, 78, 78),rgb(165, 41, 41),rgb(134, 20, 20),rgb(121, 14, 14),rgb(95, 5, 5),rgb(56, 2, 2), rgb(14, 0, 0));
    box-shadow: -2px 3px 5px 2px rgb(0 0 0 / 40%);
}

h1,h2{
    font-family: var(--fonte-personalizada);
    padding-left: 10px;
}

main{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

main p{    
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

main>img{
    width: 100%;
    display: block;
    margin: auto;
}

.imgParagrafo{
    display: flex;
    align-items: center;
}

.imgParagrafo>img{
    width: 30%;
}

